.vscode/launch.json
Makefile
.vscode/tasks.json
exerciciosAula/exercicio3.exe
exerciciosAula/exercicio04.exe
exerciciosAula/exercicio11.exe
exerciciosAula/exercicio13.exe
lista01/exercicio01.exe
lista01/exercicio02.exe
lista02/exercicio03.exe
