.vscode/launch.json
Makefile
.vscode/tasks.json
exerciciosAula/exercicio3.exe
exerciciosAula/exercicio04.exe
exerciciosAula/exercicio11.exe
exerciciosAula/exercicio13.exe
lista01/exercicio01.exe
lista01/exercicio02.exe
lista02/exercicio03.exe
exerciciosAula/exercicio26.exe
exerciciosAula/exercicio03/.vscode/launch.json
exerciciosAula/exercicio03/.vscode/tasks.json
exerciciosAula/exercicio04/.vscode/tasks.json
.gitignore
exerciciosAula/exercicio04/.vscode/launch.json
.gitignore
exerciciosAula/exercicio04/exercicio04.exe
exerciciosAula/exercicio11/exercicio11.exe
exerciciosAula/exercicio11/.vscode/launch.json
exerciciosAula/exercicio11/.vscode/tasks.json
exerciciosAula/exercicio13/.vscode/launch.json
exerciciosAula/exercicio13/.vscode/tasks.json
exerciciosAula/exercicio26/exercicio26.exe
exerciciosAula/exercicio26/.vscode/launch.json
exerciciosAula/exercicio26/.vscode/tasks.json
lista01/exercicio01/exercicio01.exe
lista01/exercicio01/.vscode/launch.json
lista01/exercicio01/.vscode/tasks.json
lista01/exercicio02/.vscode/launch.json
lista01/exercicio02/.vscode/tasks.json
lista02/.vscode/launch.json
lista02/.vscode/tasks.json
lista01/exercicio02/exercicio02.exe
exerciciosAula/exercicio03/exercicio3.exe
.gitignore
exerciciosAula/exercicio13/exercicio13.exe
lista03/exercicio07.exe
lista03/main.exe
lista03/.vscode/launch.json
lista03/.vscode/tasks.json
lista03/exercicio05/.vscode/launch.json
lista03/exercicio05/.vscode/tasks.json
lista03/exercicio07/.vscode/launch.json
lista03/exercicio07/.vscode/tasks.json
lista03/exercicio05/exercicio05.exe
lista03/exercicio07/exercicio07.exe
lista03/exercicio05.exe
.vscode/settings.json
trabalhos/exercicio01/.vscode/launch.json
trabalhos/exercicio01/.vscode/tasks.json
exerciciosAula/fila/fila.exe
pilhas/.vscode/launch.json
pilhas/.vscode/tasks.json
trabalhos/agenda/agenda.exe
trabalhos/agenda/main copy.exe
trabalhos/agenda/.vscode/launch.json
trabalhos/agenda/main.exe
trabalhos/agenda/.vscode/tasks.json
.gitignore
trabalhos/exercicio02/main.exe
trabalhos/agenda/teste/.vscode/tasks.json
trabalhos/agenda/teste/.vscode/launch.json
exerciciosAula/fila/filaDinamica.exe
exerciciosAula/arvores/main.exe
exerciciosAula/arvores/.vscode/launch.json
exerciciosAula/arvores/.vscode/tasks.json
exerciciosAula/arvores/arvoreAvl.exe
exerciciosAula/arvores/arvoreBinariaDeBusca.exe
