̃/.bashrc
atividade1/exercicio3.exe
atividade1/exercicio13.exe
atividade1/nomesTelefones.txt
.vscode/launch.json
Makefile
.vscode/tasks.json
semana1/exerciciosAula/exercicio3.exe
semana1/exerciciosAula/exercicio13.exe
semana1/lista01/exercicio01.exe
semana1/lista01/exercicio02.exe
semana1/exerciciosAula/exercicio04.exe
